[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesProject"]
	path = BayesProject
	url = https://github.com/cran/BayesProject
[submodule "fastOnlineCpt"]
	path = fastOnlineCpt
	url = https://github.com/cran/fastOnlineCpt
[submodule "locStra"]
	path = locStra
	url = https://github.com/cran/locStra
[submodule "smoothedLasso"]
	path = smoothedLasso
	url = https://github.com/cran/smoothedLasso
